.buttonControl {
    -fx-text-fill: #ffffff;
    -fx-background-color: #7a0ed9;
    -fx-background-radius: 20 20 20 20;
    -fx-font-family: Cambria;
    -fx-font-size: 20;
    -fx-font-style: Italic;
    -fx-pref-height: 70;
    -fx-pref-width: 150;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(79, 77, 77, 0.7), 10, 0, 10, 10);
}

.buttonControl:selected {
    -fx-text-fill: #7a0ed9;
    -fx-background-color: #ffffff;
}

.buttonControl:hover {
    -fx-background-color: #b272f1;
}

.instance {
    -fx-text-fill: black;
    -fx-font-size: 18;
    -fx-font-style: italic;
    /*-fx-font-weight: bold;*/
    -fx-wrap-text: true;
    -fx-effect: dropshadow(gaussian, rgba(79, 77, 77, 0.7), 10, 0, 10, 10);
}