.taskPane {

}

.taskLabel {
    -fx-background-color: #7a0ed9;
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-padding: 10 10 10 10;
    -fx-max-height: 105;
    -fx-max-width: 470;
}

.buttonCheck {
    -fx-text-fill: #ffffff;
    -fx-background-color: #7a0ed9;
    -fx-font-size: 18;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.buttonCheck:pressed {
    -fx-text-fill: #7a0ed9;
    -fx-background-color: #ffffff;
}

.buttonCheck:hover {
    -fx-background-color: #b272f1;
    /*-fx-background-radius: 30 0 0 30;*/
}

.numberLabel {
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: #1fa305;
    -fx-font-size: 22;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-padding: 10 10 10 10;
    -fx-max-height: 105;
    -fx-max-width: 470;
}