.menuBar {
    -fx-background-color: #ffffff;
    -fx-font-size: 14;
    -fx-font-style: italic;
    -fx-pref-width: 1200px;
}

.anchor {
    -fx-pref-height: 600px;
    -fx-pref-width: 1200px;
}

.panes {
    -fx-pref-height: 570px;
    -fx-pref-width: 1200px;
}