.menuPane {
    -fx-background-color: #7a0ed9;
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 10;
}

.buttonMenu {
    -fx-text-fill: #ffffff;
    -fx-background-color: #7a0ed9;
    -fx-font-size: 18;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.buttonMenu:focused {
    -fx-text-fill: #7a0ed9;
    -fx-background-color: #ffffff;
}